/* Build out basic CSS styling so we can see some elements on the HTML file */

body {
    color: white;
    margin: 0;
    background-color: #252422;
}

canvas {
    width: 100%;
}

.canvas-wrapper {
    border-style: solid;
    border-color: white;
    width: 90%;
    margin: 30px;
    padding: 0px;
    
}

.game-header, h1{
    text-align: center;
}

.center {
    text-align: center;
}

.game {
    position: relative;
}

#score {
    position: absolute;
    top:0px;
    left:50px;
}

a:link {
    color: hotpink;
  }

a:visited {
    color: green;
}